<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Pokedex</title>

        <!-- jQuery CDN -->
    
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/style.css">

        <!-- normalize.css CDN -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css" integrity="sha512-oHDEc8Xed4hiW6CxD7qjbnI+B07vDdX7hEPTvn9pSZO1bcRqHp8mj9pyr+8RVC2GmtEfI2Bi9Ke9Ass0as+zpg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
        <!-- skeleton.css CDN -->

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link rel="stylesheet" href="/static/normalize.css"/>
        <link rel="stylesheet" href="/static/skeleton.css"/>

    </head>
   
    <!-- Body below-->

<body>
    <style>
        img {
            max-width: 150px;
            text-align: center;
        }
        div {
            text-align: center;
            /* display: grid; */
            flex-flow: column wrap;
            /* justify-content: center */
        }
        h1 {
            text-align: center;
        }
        nav {
            text-align: center;
        }
    
    </style>
    
    <div></div><br>
    <h1>Pokedex</h1> <br>

        <nav>
            <a class="button" href="/pokemon/new">New Pokemon</a> 
        </nav><br>

    <div>
    <% for (let i = 0; i < allPoke.length; i++) { %> 
        
        <h2> <%= allPoke[i].name %> </h2>
        
        <a href="/pokemon/<%= i %> "><img src="<%= allPoke[i].img %>" alt=""></a> <br><br>

        <div class="buttons">
        <form action="/pokemon/<%=i%>?_method=DELETE" method="post">
            <input type="submit" value="Delete">
        </form> 
        <a href="/pokemon/<%= i %>/edit"><button>Edit</button></a><br>
        </div><br><br>
            
        
    <% } %><br>
    
    </div>
</body>
</html>