<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Pokedex</title>

        <!-- jQuery CDN -->
    
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    </head>
   
    <!-- Body below-->

<body>
    <style>
    
        img {
            max-width: 150px;
            text-align: center;
        }
        div {
            text-align: center;
            /* display: grid; */
            flex-flow: column wrap;
            /* justify-content: center */
        }
        h1 {
            text-align: center;
        }
    
    </style>

    <h1>Pokedex</h1> <br>

    <nav>

    </nav>


    <div>
    <% for (let i = 0; i < allPoke.length; i++) { %> 
        
        <h2> <%= allPoke[i].name %> </h2>
        
        <a href="/pokemon/<%= i %> "><img src="<%= allPoke[i].img %>" alt=""></a> <br><br>

        <div class="buttons">
        <form action="/pokemon/<%=i%>?_method=DELETE" method="post">
            <input type="submit" value="Delete">
        </form> 
        <a href="/pokemon/<%= i %>/edit"><button>Edit</button></a><br>
        </div>
            
        
    <% } %>
    
    </div>


</body>
</html>